@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  html::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
  body {
    @apply bg-background text-on-background font-body antialiased m-0 p-0;
  }
}

